 footer {
      padding: 15px;
  }

  footer section {
      padding: 15px;
      text-align: center;
  }

  footer section div {
      text-align: center;
      padding: 10px
  }

  footer section div i {
      color: blue;
  }
  
  .fa-solid {
      transition: all, 300ms;
  }

  .fa-solid:hover{
      color:#ea899a;
  }
